name: Release a new container image version

on:
  push:
    tags: [ 'v*' ]

jobs:
  test:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
  build:
    runs-on: ubuntu-latest
    steps:
    - id: version
      uses: orbit-online/image-version@v0.9.1
    - name: Checkout the repo
      uses: actions/checkout@v6
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to docker hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN_RW }}
    - name: Build and push Docker image
      id: push
      uses: docker/build-push-action@v5
      with:
        context: "."
        file: Dockerfile
        platforms: linux/amd64,linux/arm64
        provenance: false
        push: true
        tags: ghcr.io/${{ github.repository }}:${{ steps.version.outputs.version }}
        labels: |
          org.opencontainers.image.description="external-dns webhook plugin to manage INWX DNS Records "
